# Node.js specific files and directories
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log
package-lock.json
yarn.lock
.pnpm-lock.yaml
.DS_Store


front-end/dist/
# Optional npm cache directory
.npm

# IDE and editor related
.vscode/
.idea/

# Optional log files
*.log

# Optional test coverage files
coverage/

# Optional error reporting and profiling
*.pid
*.seed
*.log

# Optional directories and files created by package managers like Yarn and pnpm
.pnp/
.pnp.js
